/* CSS for PptXBlock */

.pptxblock_block .count {
    font-weight: bold;
}

.pptxblock_block p {
    cursor: pointer;
}

/* CSS for settings */
.container {
    width:600px;
    margin:30px auto;
}

/* CSS for thumbs */

ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: auto;
    overflow-x: auto;
    background-color: #ddd;
}

ul.images li {
    display: inline;
    width: 150px;
    height: 150px;
}

div.inline {
    float: left;
}

.clearBoth {
    clear: both;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}
